<p>App_Work...!</p>
      <button class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
      >Add New</button>
    
<table border="3">
  <thead>
    
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Adress</th>
    <th>City</th>
    <th>Pincode</th>
  </thead>
  <tbody>
    @for (v of data; track v.id)
    {
      <tr>
          <td>{{v.id}}</td>
          <td>{{v.name}}</td>
          <td>{{v.email}}</td>
          <td>{{v.mob}}</td>
          <td>{{v.adress}}</td>
          <td>{{v.city}}</td>
          <td>{{v.pincode}}</td>
          <td>
            <button class="btn btn-primary btn-sm me-2"  (click)="edit(v.id!)"data-bs-toggle="modal"data-bs-target="#exampleModal">Edit</button> 
             
            <button class="btn btn-danger btn-sm" (click)="delete(v.id!)">Delete</button>
          </td>
      </tr>
    }
  </tbody>
</table> 


<!-- modal -->
 <div class="modal" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<form [formGroup]="studForm" (ngSubmit)="saveData()">
  <div>
    <label class="form-label">Nameaa</label>
    <input type="text" formControlName="name" placeholder="Enter The Name">
  </div>
    <div>
    <label class="form-label">Email</label>
    <input type="text" formControlName="email" placeholder="Enter The Email">
  </div>
    <div>
    <label class="form-label">Mobile</label>
    <input type="text" formControlName="mob" placeholder="Enter The Number">
  </div>
      <div>
    <label class="form-label">Addres</label>
    <input type="text" formControlName="adress" placeholder="Enter The Adress">
  </div>
      <div>
    <label class="form-label">City</label>
    <input type="text" formControlName="city" placeholder="Enter The city">
  </div>
      <div>
    <label class="form-label">Pincode</label>
    <input type="text" formControlName="pincode" placeholder="Enter The pincode">
  </div>

</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
     <button type="button"
                  class="btn btn-success text-white"
                  (click)="addnew()"
                  [disabled]="studForm.invalid">
            Add
      </button>     
          <button type="button" class="btn btn-warning" (click)="updatedata()">Update</button>

        
        </div>
    </div>
  </div>
</div>